
<main>
    <a href="/{{ingredient.donutId}}"> Back to my donut</a>
<h3>{{ingredient.name}}</h3>
<h3>{{ingredient.amount}}</h3>

<a href="/{{ingredient.donutId}}/ingredient/{{ingredient._id}}/edit"> edit this ingredient</a>

    <form action="/{{ingredient.donutId}}/ingredient/{{ingredient._id}}?_method=DELETE" method="POST">
		<input type="submit" value="delete this ingredient">
	</form>

</main>